In [1]:
#writer = pd.ExcelWriter('output.xlsx')
#occ_data.to_excel(writer,'Sheet1')
#writer.save()


import warnings
warnings.filterwarnings('ignore')

#import required Libraries
import pandas as pd
import os
import math
import numpy as np

#read in the data files
files = os.listdir("/Users/student/Desktop/Capstone/Data")

#change working directory to where the excel files are
os.chdir('C:\\Users\\student\\Desktop\\Capstone\\Data')

In [2]:
#check to make sure read in worked
for i in range(len(files)):
    print (files[i])

AsianF.xls
AsianM.xls
BlackF.xls
BlackM.xls
HawaiianF.xls
HawaiianM.xls
HispanicF.xls
HispanicM.xls
IndianF.xls
IndianM.xls
other
OtherF.xls
OtherM.xls
output.xlsx
TotalF.xls
TotalM.xls
TwoRaceF.xls
TwoRaceM.xls
WhiteF.xls
WhiteM.xls

In [3]:
#create a list of the dataset names
dataset_names=[]

for i in range(len(files)):
    dataset_names.append(files[i][:files[i].find(".")])

In [4]:
#create a dictionary with the dataset name and the actual data file
cenus_data={}

#range(len(dataset_names))
for i in range(len(dataset_names)):
    if(files[i][-3:]=="xls"):
      cenus_data[dataset_names[i]]=pd.read_excel(files[i])

    #at this point have all the occupation data sets in a dictionary with the name and then the file

In [5]:
#make sure dictionary worked
cenus_data.keys()

#pull the actual data set in the dictionary
#cenus_data[list(cenus_data.keys())[2]]

dict_keys(['AsianF', 'AsianM', 'BlackF', 'BlackM', 'HawaiianF', 'HawaiianM', 'HispanicF', 'HispanicM', 'IndianF', 'IndianM', 'OtherF', 'OtherM', 'TotalF', 'TotalM', 'TwoRaceF', 'TwoRaceM', 'WhiteF', 'WhiteM'])

In [6]:
#reassign the column names as the name of the dataset PLUS the current column name

for x in range(len(cenus_data)):
    new_col_names=[]
    temp=cenus_data[list(cenus_data.keys())[x]]

    #keep the first two columns the same name: county number and name
    #for all the other columns add the data set name infront of it
    for i in range(len(temp.columns)):
        if(i<2):
            new_col_names.append(temp.columns[i])
        else:
            new_col_names.append(list(cenus_data.keys())[x]+"_"+temp.columns[i])
    #end the loop changing column names
        
    #assign the newly created column name list to the dataset
    cenus_data[list(cenus_data.keys())[x]].columns=new_col_names

#end loop going through each dataset

In [7]:
#combine all the datasets in the cenus_data dictionary into one

occ_data=cenus_data[list(cenus_data.keys())[len(cenus_data)-1]]
    
for x in range(0,len(cenus_data)-1):
    occ_data=pd.merge(occ_data,cenus_data[list(cenus_data.keys())[x]],how="left",on="NAME")
    
#remove the duplicate county variable    
occ_data=occ_data.drop(["COUNTY_x","COUNTY_y"],axis=1)

In [8]:
#start reading in and cleaning up the income statistics dataset

In [9]:
income=pd.read_excel("/Users/student/Desktop/Capstone/Data/other/income_statistics.xls")

In [10]:
#remove first two rows
income=income.loc[2:]

#if a value in the first row is blank change it to the first value to the left
for i in range(len(income.columns)):
    if(type(income.iat[0,i])!=str and math.isnan(income.iat[0,i])):
        income.iat[0,i]=income.iat[0,i-1]

In [11]:
#combine the first and second row and make that the column headers
#loop through the number of columns
col_names=[]
for i in range(len(income.columns)):
    #if the second row is blank then add just the first row
    if(type(income.iat[1,i])!=str and math.isnan(income.iat[1,i])):
        col_names.append(income.iat[0,i])
    #if the second row isnot blank then combine the first and second row
    else:
        col_names.append(income.iat[0,i]+"_"+income.iat[1,i])
        
#assign the new column names
income.columns=col_names

#delete the first two rows which are now the column names
income=income.drop(income.index[:3])

In [12]:
#delete blanks, 99999 and 0 in zip code column

#delete if first column is blank
income = income[pd.notnull(income.iloc[:,0])]
#income = income[pd.notnull(income.iloc[:,1])]

#delete zip codes of 0
income=income[income.iloc[:,0] != 0]

#delete zip codes of 99999
income=income[income.iloc[:,0] != 99999]

#delete rows with a missing number of returns. This gets rid of non zip codes in first column
income = income[pd.notnull(income.iloc[:,2])]

In [13]:
#create the number of returns in each income bracket columns

one_25=income[income.iloc[:,1] == '$1 under $25,000'].iloc[:,:3]
one_25=one_25.drop("Size of adjusted gross income",axis=1)
one_25=one_25.rename(columns = {'Number of returns':'$1 under $25,000 Number of Returns'})

twentyfive_50=income[income.iloc[:,1] == '$25,000 under $50,000'].iloc[:,:3]
twentyfive_50=twentyfive_50.drop("Size of adjusted gross income",axis=1)
twentyfive_50=twentyfive_50.rename(columns = {'Number of returns':'$25,000 under $50,000 Number of Returns'})

fifty_75=income[income.iloc[:,1] == '$50,000 under $75,000'].iloc[:,:3]
fifty_75=fifty_75.drop("Size of adjusted gross income",axis=1)
fifty_75=fifty_75.rename(columns = {'Number of returns':'$50,000 under $75,000 Number of Returns'})

seventyfive_100=income[income.iloc[:,1] == '$75,000 under $100,000'].iloc[:,:3]
seventyfive_100=seventyfive_100.drop("Size of adjusted gross income",axis=1)
seventyfive_100=seventyfive_100.rename(columns = {'Number of returns':'$75,000 under $100,000 Number of Returns'})

hundo_200=income[income.iloc[:,1] == '$100,000 under $200,000'].iloc[:,:3]
hundo_200=hundo_200.drop("Size of adjusted gross income",axis=1)
hundo_200=hundo_200.rename(columns = {'Number of returns':'$100,000 under $200,000 Number of Returns'})

twohundo_up=income[income.iloc[:,1] == '$200,000 or more'].iloc[:,:3]
twohundo_up=twohundo_up.drop("Size of adjusted gross income",axis=1)
twohundo_up=twohundo_up.rename(columns = {'Number of returns':'$200,000 or more Number of Returns'})


#merge these with the income dataset to create them in columns
income=pd.merge(income,one_25,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,twentyfive_50,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,fifty_75,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,seventyfive_100,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,hundo_200,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,twohundo_up,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

In [14]:
#delete everything besides the total row
income = income[-pd.notnull(income.iloc[:,1])]

#remove the gross income column
income=income.drop("Size of adjusted gross income", axis=1)

In [15]:
#conver all columns to ints
income=income.astype(int)

In [16]:
#match the county with the zip code

In [17]:
#load in the zip codes file
zip_codes=pd.read_excel("/Users/student/Desktop/Capstone/Data/other/zip_codes.xlsx")

In [18]:
#merge the income and zip code file together
income=pd.merge(income,zip_codes,left_on=income.iloc[:,0],right_on=zip_codes.iloc[:,0])
income=income.drop(["ZIP\ncode [1]", 'ZIP Code'],axis=1)

In [19]:
#summarize the variables by county

income=income.groupby("County",as_index=False).sum()

In [21]:
#merge the occupation and income datasets

In [22]:
#remove county from the name in occupation
for i in range(len(occ_data)):
    occ_data["NAME"][i]=occ_data["NAME"][i].replace(" County","")

In [23]:
#actually merge the occupation and income datasets

census=pd.merge(occ_data,income, left_on="NAME",right_on="County")

In [24]:
census

,NAME,WhiteM_PCT086001,WhiteM_PCT086002,WhiteM_PCT086003,WhiteM_PCT086004,WhiteM_PCT086005,WhiteM_PCT086006,WhiteM_PCT086007,WhiteM_PCT086008,WhiteM_PCT086009,...,Tax due at time of filing [11]_Number of returns,Tax due at time of filing [11]_Amount,Overpayments refunded [12]_Number of returns,Overpayments refunded [12]_Amount,"$1 under $25,000 Number of Returns","$25,000 under $50,000 Number of Returns","$50,000 under $75,000 Number of Returns","$75,000 under $100,000 Number of Returns","$100,000 under $200,000 Number of Returns","$200,000 or more Number of Returns"
0,Alamance,50409,26484,7433,3813,2981,650,203,169,522,...,13290,48075,58020,150599,28880,19790,10120,6220,7190,1500
1,Alexander,16976,9243,1558,907,730,132,40,22,70,...,2330,7870,11610,29925,5810,4060,2190,1220,1000,170
2,Alleghany,4883,2698,619,391,367,50,4,4,41,...,880,2938,3570,8976,2130,1250,590,370,340,30
3,Anson,5754,3139,574,335,298,39,8,14,39,...,1350,4623,7640,21507,4500,2700,990,550,480,50
4,Ashe,11089,6085,1213,686,579,91,2,7,62,...,2250,7456,8160,19440,4800,2800,1480,880,850,130
5,Avery,6979,3709,811,496,414,47,13,12,27,...,1570,4851,5220,11864,3150,1900,970,510,500,120
6,Beaufort,14300,7860,1953,948,766,177,50,11,92,...,4170,15632,15750,42501,9010,5100,2610,1720,2080,380
7,Bertie,3391,1788,518,335,304,53,6,3,19,...,1220,3710,6180,17610,3680,2250,910,400,420,30
8,Bladen,8352,4550,1159,645,474,84,0,12,50,...,1800,6079,8980,25248,4950,3210,1330,760,750,100
9,Brunswick,27006,14971,3031,1692,1414,274,113,32,189,...,13910,58804,40890,108478,20350,12870,7970,6050,8660,2170
10,Buncombe,91412,48038,14106,6396,4991,1088,403,209,673,...,25730,122160,85850,213465,45940,30250,15640,9600,12070,4480
11,Burke,38536,20409,3970,1842,1422,254,62,60,362,...,4950,15686,24640,61457,12900,8880,4050,2330,1990,440
12,Cabarrus,57849,31532,8631,4430,3642,789,289,252,620,...,16750,67674,72180,197618,33170,22600,12210,8330,12020,3130
13,Caldwell,37122,20063,3237,1875,1560,352,101,48,331,...,4880,16653,26110,66569,13810,9090,4360,2390,2050,390
14,Camden,2570,1471,308,126,104,9,10,7,10,...,900,2968,3240,8607,1230,1050,720,560,690,50
15,Carteret,24602,13228,3539,1808,1323,263,84,17,198,...,6640,29433,20660,51092,10990,6820,4010,2740,3340,920
16,Caswell,6902,3696,696,370,313,36,4,2,42,...,1010,2308,5250,13563,2700,1850,880,490,530,0
17,Catawba,65872,35693,8117,4393,3544,1059,271,228,686,...,12420,57806,59130,157204,28910,20220,10090,5960,6810,2230
18,Chatham,19637,10429,3629,1689,1388,243,114,75,193,...,4610,19338,15840,44235,7620,5270,2770,1950,3110,920
19,Cherokee,9524,5200,983,478,339,62,42,13,19,...,2050,5362,8640,21418,5180,3010,1470,830,740,100
20,Chowan,3906,2153,482,260,213,24,0,0,15,...,1260,4923,4750,12750,2620,1600,780,530,580,140
21,Clay,3714,2003,295,169,146,10,0,5,27,...,1000,2857,3300,8244,1960,1180,600,380,390,70
22,Cleveland,36097,19539,3961,1835,1458,280,94,68,264,...,6770,21077,33130,88850,18090,10980,5350,3280,2970,480
23,Columbus,14803,8289,1782,964,746,111,29,30,79,...,3420,10904,17000,48599,9990,5590,2430,1450,1510,170
24,Craven,26177,13765,3997,1830,1388,274,95,45,252,...,7940,28460,34890,94590,16640,11670,6530,4080,4670,910
25,Cumberland,64444,32521,9132,4340,3327,786,189,159,497,...,21150,76710,120820,364705,60830,41840,18920,10430,11050,2160
26,Currituck,7819,4197,919,558,480,61,40,6,48,...,2490,9552,9160,24033,4070,2820,1810,1350,1790,190
27,Dare,14938,8209,2061,1209,1036,322,52,57,57,...,4760,24437,11150,26642,6160,4170,2320,1490,1990,670
28,Davidson,65915,35636,7013,3910,3156,547,222,71,667,...,9340,32789,46530,120346,23910,15830,7990,4760,4570,750
29,Davie,15443,8391,2223,1141,975,237,92,73,132,...,3750,17184,13530,36188,6430,4270,2560,1790,2360,790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Pender,14068,7747,1663,922,756,124,28,14,67,...,4650,16543,18120,49489,9130,5750,3260,2260,2800,520
70,Perquimans,3398,1884,390,222,210,29,0,20,11,...,1110,4005,4130,11077,2140,1320,780,540,610,100
71,Person,12343,6667,1427,851,680,121,22,17,70,...,2950,8706,13200,34295,6500,4460,2420,1440,1610,260
72,Pitt,44813,23721,8658,3700,2898,618,237,167,325,...,12110,54881,56140,153752,30520,17560,8130,5360,7050,2090
73,Polk,7336,4010,1128,571,405,120,16,13,59,...,2110,7998,5930,15223,3440,2020,1300,780,950,310
74,Randolph,60985,33136,6384,3389,2827,617,174,96,546,...,8520,29651,41760,109679,21700,14450,7160,4220,3830,720
75,Richmond,13518,7186,1514,731,625,124,53,34,100,...,2200,5896,14410,40662,8420,4590,1920,1050,920,120
76,Robeson,18579,10023,2351,1218,969,198,23,28,130,...,6490,22070,42760,131836,25700,14100,5110,2580,2410,420
77,Rockingham,34182,18207,3622,1926,1543,321,85,80,313,...,5760,16614,29800,75898,15410,10260,4910,2890,2890,360
78,Rowan,51377,28052,5562,2724,2282,464,109,116,357,...,8970,30125,42290,111042,21680,14030,7440,4600,4560,930
79,Rutherford,25437,13967,2558,1157,985,123,47,43,181,...,4390,13411,18890,47798,10480,6440,3260,1830,1770,330
80,Sampson,17516,9621,2392,1574,1417,158,33,41,137,...,3560,16172,18750,51930,10460,6620,2810,1520,1570,220
81,Scotland,8517,4545,1428,766,618,127,40,35,121,...,1550,5375,10380,31372,6250,3120,1350,740,740,100
82,Stanly,24686,13323,2527,1317,1065,193,54,32,241,...,4570,19667,20040,51450,9850,6770,3590,2400,2390,440
83,Stokes,20962,11402,1917,1025,804,104,25,28,111,...,3270,9062,15220,36858,7200,4990,2990,1960,1770,230
84,Surry,31508,17147,3565,2002,1595,274,71,76,234,...,5010,18044,24990,64664,13410,8180,4350,2430,2340,480
85,Swain,3772,1963,471,173,161,27,10,14,11,...,1330,3676,6770,17308,3800,2260,1090,520,550,70
86,Transylvania,11785,6294,1578,742,638,109,19,33,80,...,3350,13170,9890,23807,5740,3430,1980,1240,1560,420
87,Tyrrell,1088,619,113,91,87,5,10,4,8,...,280,1282,1250,3212,810,440,170,90,80,0
88,Union,53775,29892,9067,5354,4264,960,462,228,571,...,21200,132266,70480,214123,31510,19760,12400,8920,15620,7060
89,Vance,10224,5583,1420,816,668,136,25,18,146,...,2880,8006,16080,45683,9670,5480,2040,1110,1040,170
90,Wake,258360,142443,73860,32500,24603,4984,3219,1297,4045,...,117480,669613,370720,1068104,154300,110170,67530,48710,90770,37200
91,Warren,3171,1766,487,247,191,59,2,1,16,...,810,2102,4670,12994,2680,1720,610,320,270,0
92,Washington,2876,1609,354,231,222,63,6,0,16,...,840,2860,4140,10899,2550,1340,570,310,340,30
93,Watauga,20598,11020,3397,1359,1051,241,72,71,177,...,4020,21478,12580,26244,7520,3740,2190,1470,1990,590
94,Wayne,31204,16641,4264,2362,1997,351,78,93,320,...,8500,29393,40150,110413,21330,14690,6160,3640,3580,680
95,Wilkes,29502,16217,3307,1898,1444,207,73,96,214,...,4260,13458,20330,52986,11190,6880,3500,1920,1830,380
96,Wilson,21157,11607,3153,1778,1402,274,38,108,219,...,5680,23164,27260,75651,15100,8930,4110,2470,2890,610
97,Yadkin,16725,8817,1808,997,835,121,33,19,125,...,2790,8665,13110,32950,6480,4560,2380,1440,1380,220
98,Yancey,7646,4279,683,265,240,23,18,0,22,...,1380,4040,5470,13514,2970,2010,1080,590,460,90