In [1]:
#writer = pd.ExcelWriter('output.xlsx')
#occ_data.to_excel(writer,'Sheet1')
#writer.save()


import warnings
warnings.filterwarnings('ignore')

#import required Libraries
import pandas as pd
import os
import math
import numpy as np

#read in the data files
files = os.listdir("/Users/student/Desktop/Capstone/Data")

#change working directory to where the excel files are
os.chdir('C:\\Users\\student\\Desktop\\Capstone\\Data')

In [2]:
#check to make sure read in worked
for i in range(len(files)):
    print (files[i])

AsianF.xls
AsianM.xls
BlackF.xls
BlackM.xls
HawaiianF.xls
HawaiianM.xls
HispanicF.xls
HispanicM.xls
IndianF.xls
IndianM.xls
other
OtherF.xls
OtherM.xls
output.xlsx
TotalF.xls
TotalM.xls
TwoRaceF.xls
TwoRaceM.xls
WhiteF.xls
WhiteM.xls

In [3]:
#create a list of the dataset names
dataset_names=[]

for i in range(len(files)):
    dataset_names.append(files[i][:files[i].find(".")])

In [4]:
#create a dictionary with the dataset name and the actual data file
cenus_data={}

#range(len(dataset_names))
for i in range(len(dataset_names)):
    if(files[i][-3:]=="xls"):
      cenus_data[dataset_names[i]]=pd.read_excel(files[i])

    #at this point have all the occupation data sets in a dictionary with the name and then the file

In [5]:
#make sure dictionary worked
cenus_data.keys()

#pull the actual data set in the dictionary
#cenus_data[list(cenus_data.keys())[2]]

dict_keys(['AsianF', 'AsianM', 'BlackF', 'BlackM', 'HawaiianF', 'HawaiianM', 'HispanicF', 'HispanicM', 'IndianF', 'IndianM', 'OtherF', 'OtherM', 'TotalF', 'TotalM', 'TwoRaceF', 'TwoRaceM', 'WhiteF', 'WhiteM'])

In [6]:
#reassign the column names as the name of the dataset PLUS the current column name

for x in range(len(cenus_data)):
    new_col_names=[]
    temp=cenus_data[list(cenus_data.keys())[x]]

    #keep the first two columns the same name: county number and name
    #for all the other columns add the data set name infront of it
    for i in range(len(temp.columns)):
        if(i<2):
            new_col_names.append(temp.columns[i])
        else:
            new_col_names.append(list(cenus_data.keys())[x]+"_"+temp.columns[i])
    #end the loop changing column names
        
    #assign the newly created column name list to the dataset
    cenus_data[list(cenus_data.keys())[x]].columns=new_col_names

#end loop going through each dataset

In [7]:
#combine all the datasets in the cenus_data dictionary into one

occ_data=cenus_data[list(cenus_data.keys())[len(cenus_data)-1]]
    
for x in range(0,len(cenus_data)-1):
    occ_data=pd.merge(occ_data,cenus_data[list(cenus_data.keys())[x]],how="left",on="NAME")
    
#remove the duplicate county variable    
occ_data=occ_data.drop(["COUNTY_x","COUNTY_y"],axis=1)

In [8]:
#start reading in and cleaning up the income statistics dataset

In [9]:
income=pd.read_excel("/Users/student/Desktop/Capstone/Data/other/income_statistics.xls")

In [10]:
#remove first two rows
income=income.loc[2:]

#if a value in the first row is blank change it to the first value to the left
for i in range(len(income.columns)):
    if(type(income.iat[0,i])!=str and math.isnan(income.iat[0,i])):
        income.iat[0,i]=income.iat[0,i-1]

In [11]:
#combine the first and second row and make that the column headers
#loop through the number of columns
col_names=[]
for i in range(len(income.columns)):
    #if the second row is blank then add just the first row
    if(type(income.iat[1,i])!=str and math.isnan(income.iat[1,i])):
        col_names.append(income.iat[0,i])
    #if the second row isnot blank then combine the first and second row
    else:
        col_names.append(income.iat[0,i]+"_"+income.iat[1,i])
        
#assign the new column names
income.columns=col_names

#delete the first two rows which are now the column names
income=income.drop(income.index[:3])

In [12]:
#delete blanks, 99999 and 0 in zip code column

#delete if first column is blank
income = income[pd.notnull(income.iloc[:,0])]
#income = income[pd.notnull(income.iloc[:,1])]

#delete zip codes of 0
income=income[income.iloc[:,0] != 0]

#delete zip codes of 99999
income=income[income.iloc[:,0] != 99999]

#delete rows with a missing number of returns. This gets rid of non zip codes in first column
income = income[pd.notnull(income.iloc[:,2])]

In [13]:
#create the number of returns in each income bracket columns

one_25=income[income.iloc[:,1] == '$1 under $25,000'].iloc[:,:3]
one_25=one_25.drop("Size of adjusted gross income",axis=1)
one_25=one_25.rename(columns = {'Number of returns':'$1 under $25,000 Number of Returns'})

twentyfive_50=income[income.iloc[:,1] == '$25,000 under $50,000'].iloc[:,:3]
twentyfive_50=twentyfive_50.drop("Size of adjusted gross income",axis=1)
twentyfive_50=twentyfive_50.rename(columns = {'Number of returns':'$25,000 under $50,000 Number of Returns'})

fifty_75=income[income.iloc[:,1] == '$50,000 under $75,000'].iloc[:,:3]
fifty_75=fifty_75.drop("Size of adjusted gross income",axis=1)
fifty_75=fifty_75.rename(columns = {'Number of returns':'$50,000 under $75,000 Number of Returns'})

seventyfive_100=income[income.iloc[:,1] == '$75,000 under $100,000'].iloc[:,:3]
seventyfive_100=seventyfive_100.drop("Size of adjusted gross income",axis=1)
seventyfive_100=seventyfive_100.rename(columns = {'Number of returns':'$75,000 under $100,000 Number of Returns'})

hundo_200=income[income.iloc[:,1] == '$100,000 under $200,000'].iloc[:,:3]
hundo_200=hundo_200.drop("Size of adjusted gross income",axis=1)
hundo_200=hundo_200.rename(columns = {'Number of returns':'$100,000 under $200,000 Number of Returns'})

twohundo_up=income[income.iloc[:,1] == '$200,000 or more'].iloc[:,:3]
twohundo_up=twohundo_up.drop("Size of adjusted gross income",axis=1)
twohundo_up=twohundo_up.rename(columns = {'Number of returns':'$200,000 or more Number of Returns'})


#merge these with the income dataset to create them in columns
income=pd.merge(income,one_25,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,twentyfive_50,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,fifty_75,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,seventyfive_100,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,hundo_200,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

income=pd.merge(income,twohundo_up,left_on="ZIP\ncode [1]", right_on="ZIP\ncode [1]", how="left")

In [14]:
#delete everything besides the total row
income = income[-pd.notnull(income.iloc[:,1])]

#remove the gross income column
income=income.drop("Size of adjusted gross income", axis=1)

In [15]:
#conver all columns to ints
income=income.astype(int)

In [16]:
#match the county with the zip code

In [17]:
#load in the zip codes file
zip_codes=pd.read_excel("/Users/student/Desktop/Capstone/Data/other/zip_codes.xlsx")

In [18]:
#merge the income and zip code file together
income=pd.merge(income,zip_codes,left_on=income.iloc[:,0],right_on=zip_codes.iloc[:,0])
income=income.drop(["ZIP\ncode [1]", 'ZIP Code'],axis=1)

In [19]:
#summarize the variables by county

income=income.groupby("County",as_index=False).mean()

In [20]:
#merge the occupation and income datasets

In [21]:
#remove county from the name in occupation
for i in range(len(occ_data)):
    occ_data["NAME"][i]=occ_data["NAME"][i].replace(" County","")

In [22]:
#actually merge the occupation and income datasets

census=pd.merge(occ_data,income, left_on="NAME",right_on="County")

In [23]:
census

,NAME,WhiteM_PCT086001,WhiteM_PCT086002,WhiteM_PCT086003,WhiteM_PCT086004,WhiteM_PCT086005,WhiteM_PCT086006,WhiteM_PCT086007,WhiteM_PCT086008,WhiteM_PCT086009,...,Tax due at time of filing [11]_Number of returns,Tax due at time of filing [11]_Amount,Overpayments refunded [12]_Number of returns,Overpayments refunded [12]_Amount,"$1 under $25,000 Number of Returns","$25,000 under $50,000 Number of Returns","$50,000 under $75,000 Number of Returns","$75,000 under $100,000 Number of Returns","$100,000 under $200,000 Number of Returns","$200,000 or more Number of Returns"
0,Alamance,50409,26484,7433,3813,2981,650,203,169,522,...,1898.571429,6867.857143,8288.571429,21514.142857,4125.714286,2827.142857,1445.714286,888.571429,1027.142857,214.285714
1,Alexander,16976,9243,1558,907,730,132,40,22,70,...,776.666667,2623.333333,3870.000000,9975.000000,1936.666667,1353.333333,730.000000,406.666667,333.333333,56.666667
2,Alleghany,4883,2698,619,391,367,50,4,4,41,...,146.666667,489.666667,595.000000,1496.000000,355.000000,208.333333,98.333333,61.666667,56.666667,5.000000
3,Anson,5754,3139,574,335,298,39,8,14,39,...,270.000000,924.600000,1528.000000,4301.400000,900.000000,540.000000,198.000000,110.000000,96.000000,10.000000
4,Ashe,11089,6085,1213,686,579,91,2,7,62,...,225.000000,745.600000,816.000000,1944.000000,480.000000,280.000000,148.000000,88.000000,85.000000,13.000000
5,Avery,6979,3709,811,496,414,47,13,12,27,...,523.333333,1617.000000,1740.000000,3954.666667,1050.000000,633.333333,323.333333,170.000000,166.666667,40.000000
6,Beaufort,14300,7860,1953,948,766,177,50,11,92,...,463.333333,1736.888889,1750.000000,4722.333333,1001.111111,566.666667,290.000000,191.111111,231.111111,42.222222
7,Bertie,3391,1788,518,335,304,53,6,3,19,...,174.285714,530.000000,882.857143,2515.714286,525.714286,321.428571,130.000000,57.142857,60.000000,4.285714
8,Bladen,8352,4550,1159,645,474,84,0,12,50,...,257.142857,868.428571,1282.857143,3606.857143,707.142857,458.571429,190.000000,108.571429,107.142857,14.285714
9,Brunswick,27006,14971,3031,1692,1414,274,113,32,189,...,1159.166667,4900.333333,3407.500000,9039.833333,1695.833333,1072.500000,664.166667,504.166667,721.666667,180.833333
10,Buncombe,91412,48038,14106,6396,4991,1088,403,209,673,...,1837.857143,8725.714286,6132.142857,15247.500000,3281.428571,2160.714286,1117.142857,685.714286,862.142857,320.000000
11,Burke,38536,20409,3970,1842,1422,254,62,60,362,...,1237.500000,3921.500000,6160.000000,15364.250000,3225.000000,2220.000000,1012.500000,582.500000,497.500000,110.000000
12,Cabarrus,57849,31532,8631,4430,3642,789,289,252,620,...,2392.857143,9667.714286,10311.428571,28231.142857,4738.571429,3228.571429,1744.285714,1190.000000,1717.142857,447.142857
13,Caldwell,37122,20063,3237,1875,1560,352,101,48,331,...,1220.000000,4163.250000,6527.500000,16642.250000,3452.500000,2272.500000,1090.000000,597.500000,512.500000,97.500000
14,Camden,2570,1471,308,126,104,9,10,7,10,...,300.000000,989.333333,1080.000000,2869.000000,410.000000,350.000000,240.000000,186.666667,230.000000,16.666667
15,Carteret,24602,13228,3539,1808,1323,263,84,17,198,...,474.285714,2102.357143,1475.714286,3649.428571,785.000000,487.142857,286.428571,195.714286,238.571429,65.714286
16,Caswell,6902,3696,696,370,313,36,4,2,42,...,144.285714,329.714286,750.000000,1937.571429,385.714286,264.285714,125.714286,70.000000,75.714286,0.000000
17,Catawba,65872,35693,8117,4393,3544,1059,271,228,686,...,1380.000000,6422.888889,6570.000000,17467.111111,3212.222222,2246.666667,1121.111111,662.222222,756.666667,247.777778
18,Chatham,19637,10429,3629,1689,1388,243,114,75,193,...,768.333333,3223.000000,2640.000000,7372.500000,1270.000000,878.333333,461.666667,325.000000,518.333333,153.333333
19,Cherokee,9524,5200,983,478,339,62,42,13,19,...,512.500000,1340.500000,2160.000000,5354.500000,1295.000000,752.500000,367.500000,207.500000,185.000000,25.000000
20,Chowan,3906,2153,482,260,213,24,0,0,15,...,630.000000,2461.500000,2375.000000,6375.000000,1310.000000,800.000000,390.000000,265.000000,290.000000,70.000000
21,Clay,3714,2003,295,169,146,10,0,5,27,...,333.333333,952.333333,1100.000000,2748.000000,653.333333,393.333333,200.000000,126.666667,130.000000,23.333333
22,Cleveland,36097,19539,3961,1835,1458,280,94,68,264,...,967.142857,3011.000000,4732.857143,12692.857143,2584.285714,1568.571429,764.285714,468.571429,424.285714,68.571429
23,Columbus,14803,8289,1782,964,746,111,29,30,79,...,263.076923,838.769231,1307.692308,3738.384615,768.461538,430.000000,186.923077,111.538462,116.153846,13.076923
24,Craven,26177,13765,3997,1830,1388,274,95,45,252,...,1134.285714,4065.714286,4984.285714,13512.857143,2377.142857,1667.142857,932.857143,582.857143,667.142857,130.000000
25,Cumberland,64444,32521,9132,4340,3327,786,189,159,497,...,1410.000000,5114.000000,8054.666667,24313.666667,4055.333333,2789.333333,1261.333333,695.333333,736.666667,144.000000
26,Currituck,7819,4197,919,558,480,61,40,6,48,...,166.000000,636.800000,610.666667,1602.200000,271.333333,188.000000,120.666667,90.000000,119.333333,12.666667
27,Dare,14938,8209,2061,1209,1036,322,52,57,57,...,793.333333,4072.833333,1858.333333,4440.333333,1026.666667,695.000000,386.666667,248.333333,331.666667,111.666667
28,Davidson,65915,35636,7013,3910,3156,547,222,71,667,...,1868.000000,6557.800000,9306.000000,24069.200000,4782.000000,3166.000000,1598.000000,952.000000,914.000000,150.000000
29,Davie,15443,8391,2223,1141,975,237,92,73,132,...,1875.000000,8592.000000,6765.000000,18094.000000,3215.000000,2135.000000,1280.000000,895.000000,1180.000000,395.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Pender,14068,7747,1663,922,756,124,28,14,67,...,664.285714,2363.285714,2588.571429,7069.857143,1304.285714,821.428571,465.714286,322.857143,400.000000,74.285714
70,Perquimans,3398,1884,390,222,210,29,0,20,11,...,555.000000,2002.500000,2065.000000,5538.500000,1070.000000,660.000000,390.000000,270.000000,305.000000,50.000000
71,Person,12343,6667,1427,851,680,121,22,17,70,...,590.000000,1741.200000,2640.000000,6859.000000,1300.000000,892.000000,484.000000,288.000000,322.000000,52.000000
72,Pitt,44813,23721,8658,3700,2898,618,237,167,325,...,1211.000000,5488.100000,5614.000000,15375.200000,3052.000000,1756.000000,813.000000,536.000000,705.000000,209.000000
73,Polk,7336,4010,1128,571,405,120,16,13,59,...,527.500000,1999.500000,1482.500000,3805.750000,860.000000,505.000000,325.000000,195.000000,237.500000,77.500000
74,Randolph,60985,33136,6384,3389,2827,617,174,96,546,...,852.000000,2965.100000,4176.000000,10967.900000,2170.000000,1445.000000,716.000000,422.000000,383.000000,72.000000
75,Richmond,13518,7186,1514,731,625,124,53,34,100,...,440.000000,1179.200000,2882.000000,8132.400000,1684.000000,918.000000,384.000000,210.000000,184.000000,24.000000
76,Robeson,18579,10023,2351,1218,969,198,23,28,130,...,540.833333,1839.166667,3563.333333,10986.333333,2141.666667,1175.000000,425.833333,215.000000,200.833333,35.000000
77,Rockingham,34182,18207,3622,1926,1543,321,85,80,313,...,960.000000,2769.000000,4966.666667,12649.666667,2568.333333,1710.000000,818.333333,481.666667,481.666667,60.000000
78,Rowan,51377,28052,5562,2724,2282,464,109,116,357,...,815.454545,2738.636364,3844.545455,10094.727273,1970.909091,1275.454545,676.363636,418.181818,414.545455,84.545455
79,Rutherford,25437,13967,2558,1157,985,123,47,43,181,...,627.142857,1915.857143,2698.571429,6828.285714,1497.142857,920.000000,465.714286,261.428571,252.857143,47.142857
80,Sampson,17516,9621,2392,1574,1417,158,33,41,137,...,356.000000,1617.200000,1875.000000,5193.000000,1046.000000,662.000000,281.000000,152.000000,157.000000,22.000000
81,Scotland,8517,4545,1428,766,618,127,40,35,121,...,387.500000,1343.750000,2595.000000,7843.000000,1562.500000,780.000000,337.500000,185.000000,185.000000,25.000000
82,Stanly,24686,13323,2527,1317,1065,193,54,32,241,...,652.857143,2809.571429,2862.857143,7350.000000,1407.142857,967.142857,512.857143,342.857143,341.428571,62.857143
83,Stokes,20962,11402,1917,1025,804,104,25,28,111,...,408.750000,1132.750000,1902.500000,4607.250000,900.000000,623.750000,373.750000,245.000000,221.250000,28.750000
84,Surry,31508,17147,3565,2002,1595,274,71,76,234,...,556.666667,2004.888889,2776.666667,7184.888889,1490.000000,908.888889,483.333333,270.000000,260.000000,53.333333
85,Swain,3772,1963,471,173,161,27,10,14,11,...,443.333333,1225.333333,2256.666667,5769.333333,1266.666667,753.333333,363.333333,173.333333,183.333333,23.333333
86,Transylvania,11785,6294,1578,742,638,109,19,33,80,...,418.750000,1646.250000,1236.250000,2975.875000,717.500000,428.750000,247.500000,155.000000,195.000000,52.500000
87,Tyrrell,1088,619,113,91,87,5,10,4,8,...,280.000000,1282.000000,1250.000000,3212.000000,810.000000,440.000000,170.000000,90.000000,80.000000,0.000000
88,Union,53775,29892,9067,5354,4264,960,462,228,571,...,3028.571429,18895.142857,10068.571429,30589.000000,4501.428571,2822.857143,1771.428571,1274.285714,2231.428571,1008.571429
89,Vance,10224,5583,1420,816,668,136,25,18,146,...,720.000000,2001.500000,4020.000000,11420.750000,2417.500000,1370.000000,510.000000,277.500000,260.000000,42.500000
90,Wake,258360,142443,73860,32500,24603,4984,3219,1297,4045,...,3560.000000,20291.303030,11233.939394,32366.787879,4675.757576,3338.484848,2046.363636,1476.060606,2750.606061,1127.272727
91,Warren,3171,1766,487,247,191,59,2,1,16,...,270.000000,700.666667,1556.666667,4331.333333,893.333333,573.333333,203.333333,106.666667,90.000000,0.000000
92,Washington,2876,1609,354,231,222,63,6,0,16,...,280.000000,953.333333,1380.000000,3633.000000,850.000000,446.666667,190.000000,103.333333,113.333333,10.000000
93,Watauga,20598,11020,3397,1359,1051,241,72,71,177,...,670.000000,3579.666667,2096.666667,4374.000000,1253.333333,623.333333,365.000000,245.000000,331.666667,98.333333
94,Wayne,31204,16641,4264,2362,1997,351,78,93,320,...,1214.285714,4199.000000,5735.714286,15773.285714,3047.142857,2098.571429,880.000000,520.000000,511.428571,97.142857
95,Wilkes,29502,16217,3307,1898,1444,207,73,96,214,...,327.692308,1035.230769,1563.846154,4075.846154,860.769231,529.230769,269.230769,147.692308,140.769231,29.230769
96,Wilson,21157,11607,3153,1778,1402,274,38,108,219,...,946.666667,3860.666667,4543.333333,12608.500000,2516.666667,1488.333333,685.000000,411.666667,481.666667,101.666667
97,Yadkin,16725,8817,1808,997,835,121,33,19,125,...,558.000000,1733.000000,2622.000000,6590.000000,1296.000000,912.000000,476.000000,288.000000,276.000000,44.000000
98,Yancey,7646,4279,683,265,240,23,18,0,22,...,690.000000,2020.000000,2735.000000,6757.000000,1485.000000,1005.000000,540.000000,295.000000,230.000000,45.000000