In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Users/lizzysterling'

In [3]:
path = "/Users/lizzysterling/Desktop/Term4/Capstone/PostsecondaryAttainment/RawDatasets"

In [4]:
os.chdir(path)

### We want to change all numeric columns to type numeric so that we can impute the mean, so we need to check the data types

In [5]:
d = pd.read_excel("mergedData.xlsx")

### Check to see how many null values are in each column

In [ ]:
d.isnull().sum()

#### Check the data types

In [ ]:
d.dtypes

#### We can see that there are many columns that are meant to be floats that are listed as objects. We need to iteratively go through all of the columns and change these values

In [6]:
for column in range(len(d.columns)): #loops through every column in the data set
    if d.iloc[:,column].isnull().sum() == 0: #these are the string columns that do not need to be changed
        print "Column ", column , "remained the same"
    elif d.iloc[:,column].dtype == "object": #if the column is of type object (percentages)
        for value in range(len(d)):
            if pd.isnull(d.iloc[value,column]):
                continue
            elif "%" in d.iloc[value,column]: # one of the issues is percentages
                d.iloc[value,column] = float(d.iloc[value,column].strip("%"))/100
            elif "," in d.iloc[value, column]: # another issues is commas
                d.iloc[value, column] = float(d.iloc[value, column].replace(",", ""))
            elif d.iloc[value,column] == "*":
                d.iloc[value, column] = None
            else:
                continue
        print "Column ", column, "was changed to type numeric"
        d.iloc[:,column] = pd.to_numeric(d.iloc[:,column])
    else:
        print "Column", column, "stayed the same"

Column  0 remained the same
Column  1 remained the same
Column  2 was changed to type numeric
Column 3 stayed the same
Column 4 stayed the same
Column  5 was changed to type numeric
Column 6 stayed the same
Column  7 was changed to type numeric
Column  8 was changed to type numeric
Column  9 was changed to type numeric
Column  10 was changed to type numeric
Column  11 was changed to type numeric
Column  12 was changed to type numeric
Column 13 stayed the same
Column  14 was changed to type numeric
Column 15 stayed the same
Column  16 was changed to type numeric
Column 17 stayed the same
Column  18 was changed to type numeric
Column 19 stayed the same
Column  20 was changed to type numeric
Column 21 stayed the same
Column  22 was changed to type numeric
Column 23 stayed the same
Column  24 was changed to type numeric
Column  25 was changed to type numeric
Column  26 was changed to type numeric
Column  27 was changed to type numeric
Column 28 stayed the same
Column  29 was changed to type numeric
Column 30 stayed the same
Column  31 was changed to type numeric
Column 32 stayed the same
Column  33 was changed to type numeric
Column 34 stayed the same
Column  35 was changed to type numeric
Column 36 stayed the same
Column  37 was changed to type numeric
Column  38 was changed to type numeric
Column 39 stayed the same
Column 40 stayed the same
Column  41 was changed to type numeric
Column 42 stayed the same
Column  43 was changed to type numeric
Column  44 was changed to type numeric
Column  45 was changed to type numeric
Column  46 was changed to type numeric
Column  47 was changed to type numeric
Column  48 was changed to type numeric
Column  49 was changed to type numeric
Column 50 stayed the same
Column 51 stayed the same
Column  52 was changed to type numeric
Column 53 stayed the same
Column  54 was changed to type numeric
Column  55 was changed to type numeric
Column  56 was changed to type numeric
Column  57 was changed to type numeric
Column  58 was changed to type numeric
Column  59 was changed to type numeric
Column  60 was changed to type numeric
Column 61 stayed the same
Column 62 stayed the same
Column  63 was changed to type numeric
Column 64 stayed the same
Column  65 was changed to type numeric
Column  66 was changed to type numeric
Column  67 was changed to type numeric
Column  68 was changed to type numeric
Column  69 was changed to type numeric
Column  70 was changed to type numeric
Column 71 stayed the same
Column  72 was changed to type numeric
Column 73 stayed the same
Column  74 was changed to type numeric
Column  75 was changed to type numeric
Column  76 was changed to type numeric
Column  77 was changed to type numeric
Column  78 was changed to type numeric
Column  79 was changed to type numeric
Column  80 was changed to type numeric
Column 81 stayed the same
Column 82 stayed the same
Column  83 was changed to type numeric
Column  84 was changed to type numeric
Column  85 was changed to type numeric
Column  86 was changed to type numeric
Column  87 was changed to type numeric
Column  88 was changed to type numeric
Column  89 was changed to type numeric
Column 90 stayed the same
Column  91 was changed to type numeric
Column  92 was changed to type numeric
Column  93 was changed to type numeric
Column  94 was changed to type numeric
Column  95 was changed to type numeric
Column 96 stayed the same
Column  97 was changed to type numeric
Column 98 stayed the same
Column  99 was changed to type numeric
Column  100 was changed to type numeric
Column  101 was changed to type numeric
Column 102 stayed the same
Column  103 was changed to type numeric
Column 104 stayed the same
Column  105 was changed to type numeric
Column 106 stayed the same
Column  107 was changed to type numeric
Column 108 stayed the same
Column  109 was changed to type numeric
Column 110 stayed the same
Column  111 was changed to type numeric
Column 112 stayed the same
Column  113 was changed to type numeric
Column 114 stayed the same
Column  115 was changed to type numeric
Column 116 stayed the same
Column  117 was changed to type numeric
Column 118 stayed the same
Column  119 was changed to type numeric
Column 120 stayed the same
Column  121 was changed to type numeric
Column 122 stayed the same
Column  123 was changed to type numeric
Column  124 was changed to type numeric
Column 125 stayed the same
Column 126 stayed the same
Column  127 was changed to type numeric
Column 128 stayed the same
Column  129 was changed to type numeric
Column  130 was changed to type numeric
Column  131 was changed to type numeric
Column  132 was changed to type numeric
Column  133 was changed to type numeric
Column  134 was changed to type numeric
Column  135 was changed to type numeric
Column 136 stayed the same
Column 137 stayed the same
Column  138 was changed to type numeric
Column 139 stayed the same
Column  140 was changed to type numeric
Column  141 was changed to type numeric
Column  142 was changed to type numeric
Column  143 was changed to type numeric
Column  144 was changed to type numeric
Column  145 was changed to type numeric
Column  146 was changed to type numeric
Column 147 stayed the same
Column 148 stayed the same
Column  149 was changed to type numeric
Column 150 stayed the same
Column  151 was changed to type numeric
Column  152 was changed to type numeric
Column  153 was changed to type numeric
Column  154 was changed to type numeric
Column  155 was changed to type numeric
Column  156 was changed to type numeric
Column  157 was changed to type numeric
Column 158 stayed the same
Column 159 stayed the same
Column  160 was changed to type numeric
Column 161 stayed the same
Column  162 was changed to type numeric
Column  163 was changed to type numeric
Column  164 was changed to type numeric
Column  165 was changed to type numeric
Column  166 was changed to type numeric
Column  167 was changed to type numeric
Column 168 stayed the same
Column  169 was changed to type numeric
Column  170 was changed to type numeric
Column  171 was changed to type numeric
Column  172 was changed to type numeric
Column 173 stayed the same
Column  174 was changed to type numeric
Column  175 was changed to type numeric
Column  176 was changed to type numeric
Column  177 was changed to type numeric
Column 178 stayed the same
Column  179 was changed to type numeric
Column  180 was changed to type numeric
Column  181 was changed to type numeric
Column  182 was changed to type numeric
Column 183 stayed the same
Column  184 was changed to type numeric
Column  185 was changed to type numeric
Column  186 was changed to type numeric
Column  187 was changed to type numeric
Column 188 stayed the same
Column  189 was changed to type numeric
Column  190 was changed to type numeric
Column  191 was changed to type numeric
Column  192 was changed to type numeric
Column 193 stayed the same
Column  194 was changed to type numeric
Column  195 was changed to type numeric
Column  196 was changed to type numeric
Column  197 was changed to type numeric
Column 198 stayed the same
Column  199 was changed to type numeric
Column  200 was changed to type numeric
Column  201 was changed to type numeric
Column  202 was changed to type numeric
Column 203 stayed the same
Column  204 was changed to type numeric
Column  205 was changed to type numeric
Column  206 was changed to type numeric
Column  207 was changed to type numeric
Column 208 stayed the same

ValueError: invalid literal for float(): 86% 100

In [ ]:
d.dtypes

It appears that all of our previous object types are now floats, so we can now impute using the mean values.

*Note that the first two columns are still objects - they contain string values indicating county and college name*

In [7]:
df = d.fillna(d.mean()) # run this once all of the columns are of the proper type

In [8]:
df.isnull().sum()

County                                                              0
College Name                                                        0
AdvESL_MeasureableSkills_Participant_POP_MSG                        0
AdvESL_MeasureableSkills_IndividualsServed                          0
AdvESL_MeasureableSkills_Participants12+Hours                       0
AdvESL_MeasureableSkills_ParticipServed                             0
AdvESL_MeasureableSkills_POPs                                       0
AdvESL_MeasureableSkills_AHSGrad                                    0
AdvESL_MeasureableSkills_HSE                                        0
AdvESL_MeasureableSkills_Postsecondary\rEnrollment                  0
AdvESL_MeasureableSkills_AHSCredits                                 0
AdvESL_MeasureableSkills_Post-test                                  0
AdvESL_MeasureableSkills_MSG                                        0
Beg_ESL_Students                                                    0
Beg_ESL_PCTProgress                                                 0
LowBeg_ESL_Students                                                 0
LowBeg_ESL_PCTProgress                                              0
HighBeg_ESL_Students                                                0
HighBeg_ESL_PCTProgress                                             0
LowInt_ESL_Students                                                 0
LowInt_ESL_PCTProgress                                              0
HighInt_ESL_Students                                                0
HighInt_ESL_PCTProgress                                             0
Advanced_ESL_Students                                               0
Advanced_ESL_PCTProgress                                            0
Basic_Skills_Students\r(Denominator)                                0
Basic_Skills_CompletingLevel\rLEVEL                                 0
Basic_Skills_PCTCompleting                                          0
Beg_ABE_Lit_Students                                                0
Beg_ABE_Lit_PCTProgress                                             0
                                                                   ..
Total tax payments_Number of returns                                0
Total tax payments_Amount                                           0
Earned income credit [7]_Number of returns                          0
Earned income credit [7]_Amount                                     0
Excess earned income credit \n(refundable) [8]_Number of returns    0
Excess earned income credit \n(refundable) [8]_Amount               0
Additional child tax credit_Number of returns                       0
Additional child tax credit_Amount                                  0
Refundable education credit_Number of returns                       0
Refundable education credit_Amount                                  0
Net premium tax credit_Number of returns                            0
Net premium tax credit_Amount                                       0
Income tax [9]_Number of returns                                    0
Income tax [9]_Amount                                               0
Total tax liability [10]_Number of returns                          0
Total tax liability [10]_Amount                                     0
Total additional Medicare tax_Number of returns                     0
Total additional Medicare tax_Amount                                0
Net investment income tax_Number of returns                         0
Net investment income tax_Amount                                    0
Tax due at time of filing [11]_Number of returns                    0
Tax due at time of filing [11]_Amount                               0
Overpayments refunded [12]_Number of returns                        0
Overpayments refunded [12]_Amount                                   0
$1 under $25,000 Number of Returns                                  0
$25,000 under $50,000 Number of Returns                             0
$50,000 under $75,000 Number of Returns                             0
$75,000 under $100,000 Number of Returns                            0
$100,000 under $200,000 Number of Returns                           0
$200,000 or more Number of Returns                                  0
Length: 2904, dtype: int64

We can see that many of our columns are now null-free, but we need to double check since we have so many columns

In [9]:
stillNA = df.columns[df.isna().any()].tolist()
len(stillNA)

149

We have 149 columns that still contain null values. For the sake of analysis, we are going to remove these columns, but we can come back to them if we need to

In [10]:
type(stillNA)

list

In [22]:
for name in stillNA:
    #print name
    df = df.drop(name, axis=1)

Check that we succesfully removed the columns that contain NAs

In [23]:
df.columns[df.isna().any()].tolist()

#df1 = df.drop("NucMedTech_PCTPassing2015", axis = 0)

[]

In [26]:
newPath = "/Users/lizzysterling/Desktop/Term4/Capstone/PostsecondaryAttainment/RawDatasets"

In [27]:
os.chdir(newPath)

In [28]:
df.to_excel('imputedData.xlsx', index = False)

In [ ]:
finalData.to_excel('mergedData.xlsx', index=False)